<div class="container-fluid wrapper">
    <br>
    <div class="text-area">
        <h1 class="sub-header tracking-in-expand-fwd-top">Doug Rosenberg Dev </h1>
        <hr>
        <h3 class="sub-header tracking-in-expand-fwd-top">Uses the most in-demand technologies to deliver solutions for your company.</h3>
        <h3 class="sub-header tracking-in-expand-fwd-top"></h3>
        <a class="btn btn-secondary google-btn" href="https://docs.google.com/forms/d/1ulg8rhb6MimWCLtSsU3j9rrZimR1ZhS-YlsxuYdIKHs/edit">Fill out a project questionnaire</a>
        <br>
        <h3 class="text">Do you need a front-end solution? </h3>
        <h3 class="text">Back-end? Cloud services? DevOps?</h3>
        <h3 class="text">Full-stack? Convert legacy code into a </h3>
        <h3 class="text">more modern tech? We can do it all!</h3>
    
    </div>
    <!-- <form>
        <div class="form-group">
          <label for="InputEmail1">Email address</label>
          <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="InputFullName">Full Name</label>
          <input type="name" class="form-control" id="fullName" placeholder="Enter full name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
</div>        


<!-- <button class="btn-center" src="https://docs.google.com/forms/d/1ulg8rhb6MimWCLtSsU3j9rrZimR1ZhS-YlsxuYdIKHs/">Fill out a project questionnaire</button> -->
