.wrapper {
    /* height: 100vh !important; */
}



/* .text-area {
    background-color: rgb(196, 129, 6);
    opacity: 70%;
    clip-path: polygon(98% 11%, 91% 48%, 100% 90%, 62% 97%, 19% 92%, 10% 73%, 13% 20%, 5% 6%, 53% 3%);
    text-align: center;
    height: 30rem;
    padding-top: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    word-wrap: break-word;
} */

.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 h3 {
    margin: 0 2rem;
    color: white;
    width: 30%;
    text-align: center;
}

h1 {
    font-size: 70%;
}

h2 {
  text-align: center;
}

.text {
    text-align: center;
    color: white;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12rem;
}

.welcome {
    text-align: center;
  }
  
  body {
    margin: 0;
    /* font-family: 'Raleway' !important; */
  }
  
  
  header {
    padding-top: 3rem;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    text-align: center;
    /* height: 100%; */
    /* transform-style: preserve-3d; */
    /* z-index: -1; */
  }
  
  .title {
    align-items: center;
    font-family: "Raleway";
    /* font-size: 5rem; */
    color: rgb(250, 250, 250, 0.9);
    /* text-decoration-color: linear-gradient(90deg, #b2ff42 0%, #0d8773 100%); */
    text-shadow: 1px 1px 2px rgb(25, 24, 24);
    padding: 0 4rem;
    overflow-wrap: normal;
    z-index: 1;
  }
  
  .title:hover {
    transform: scale(1.05);
  }
  
  .text-pop-up-top {
    -webkit-animation: text-pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: text-pop-up-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  .sub-header {
    color: rgb(250, 250, 250, 0.9);
    font-family: "Raleway";
    /* color: rgb(250, 255, 250, 0.8); */
    text-shadow: 1px 1px 6px rgb(25, 24, 24);
    /* background-color: transparent; */
  }
  
  .tracking-in-expand-fwd-top {
    -webkit-animation: tracking-in-expand-fwd-top 0.8s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
  }
  
  h1:hover {
    /* mix-blend-mode:hard-light; */
    transform: scale(1.05);
    /* margin: 0 2rem; */
  }
  
  section {
    font-size: 2rem;
    /* padding: 2rem; */
    background-color: #333;
    color: rgb(234, 231, 231);
  }
  
  @media only screen and (min-width: 650px) {
    h1 {
      font-size: 5rem;
      text-align: center;
    }
  }

  @media only screen and (max-width: 649px) {
    header {
      padding-top: 0rem;
    }
    
    h1 {
      font-size: 4rem;
    }
    .text-area {
      color: gray;
      padding-top: 1rem;
  }
    .wrapper {
      /* height: 100vh !important; */
    }
    h3{
      align-items: center !important;
      margin-top: 0rem;
    }

    .flexible-display {
      display:none;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    h1 {
      padding-top: 2rem;
      font-size: 7rem;
      text-align: center;
      color: grey;
    }
    h2 {
    }
    .hire-me {
      margin-top: 3rem;
    }
  }
  
  