<div class="container wrapper">
    <br>
    <div class="text-area">
        <h3 class="sub-header tracking-in-expand-fwd-top">Doug Rosenberg Dev uses the most in-demand technologies to deliver solutions for your company.</h3>

        <br>
        <a class="btn" href="https://docs.google.com/forms/d/1ulg8rhb6MimWCLtSsU3j9rrZimR1ZhS-YlsxuYdIKHs/edit">Fill out a project questionnaire</a>
        <br>
        <h3 class="text">Do you need a front-end solution? </h3>
        <h3 class="text">Back-end? Cloud services? DevOps?</h3>
        <h3 class="text">Full-stack? Convert legacy code into a </h3>
        <h3 class="text">more modern tech? We can do it all!</h3>
    
    </div>
</div>        <!-- <button class="btn-center" src="https://docs.google.com/forms/d/1ulg8rhb6MimWCLtSsU3j9rrZimR1ZhS-YlsxuYdIKHs/">Fill out a project questionnaire</button> -->
