.wrapper {
    height: 100vh !important;
}

.text-area {
    background-color: orange;
    opacity: 70%;
    clip-path: polygon(98% 11%, 91% 48%, 100% 90%, 62% 97%, 19% 92%, 3% 73%, 13% 20%, 5% 6%, 53% 3%);
    text-align: center;
    height: 40rem;
    padding-top: 5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

h1 h3 {
    
    color: white;
    width: 50%;
}

.text {
    color: teal;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}