.thingy {
  background-color: grey;
  background: linear-gradient(90deg, rgba(238,238,225,1) 0%, rgba(238,238,238,1) 35%, rgb(209, 237, 243) 100%);

  opacity: 0.87;
  margin: 0.2rem 2rem;
  padding: 0.2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.thing:hover {
}

.card {
  background-color: rgb(238, 238, 238);
}

.card:hover {
  transform: scale(1.007);
  opacity: 0.98;

}

img {
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pic {
  align-items: center;
}

.headshot {
  width: 30%;
  border-radius: 5px;
}

.new-text {
  font-family: 'Raleway';
  text-align: center;
}

.new-text p {
  
}

table {
  width: 100%;
  }
  
th {
  font-weight: bold;
  font-size: larger;
}

.filter-area {
  font-weight: bold;
  font-size: larger;
}

.filter-text {
  font-weight: bold;
}
  
.mat-row:nth-child(even){
  background-color: rgb(250, 250, 250);
}
        
.mat-row:nth-child(odd){
  background-color: rgb(240, 240, 240);
}

.mat-form-field {
  margin-right: 12px;
  font-size: 14px;
  width: 100%;
}

.re-cen {
  align-items: center !important;
}

.btn-con {
  /* display: flex; */
  /* align-self: flex-start; */
  align-items: center;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid green;
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.main-btn:hover {
  transform: scale(1.03);
}

.btn-text {
      padding: 0 2rem;
      text-align: center;

  }

.btn-icon {
  background-color: rgb(184, 247, 247, 0.5);
  display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1rem;
  }

.btn-icon::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: all .4s ease-in-out;
      z-index: -1;
      text-align: center;

  }

.btn-icon:hover {
      transition: all .4s ease-in-out;
}

.btn-icon::before {
          width: 100%;
          height: 100%;
          background-color: rgb(184, 247, 247, 0.5);
          transform: translateX(0);
          transition: all .4s ease-in-out;
      }
  
@media only screen and (max-width: 649px) {
  .thingy {
    margin: 0.2rem 0.5rem;
    padding: 0.2rem 0.5rem;
    overflow-x: scroll;
    background-repeat: repeat;
}
      }