.navcolor {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.bg-gradient{
    background-image: var(--bs-gradient);
}

.nav-link {
    font-weight: 700;
}

.nav-link:hover {
    opacity: 100;
    color: darkgray;
    size: 1.1rem !important;
    transition: ease-in-out;
}

.nav-link:active {
    color: darkgray;
    font-weight: 1000;
}

.nav-link::after {
    color: teal;
}
