.new-font {
    font-family: 'Raleway';
}

.navcolor {
    background-image: linear-gradient(15deg, #80d0c7 0%, #13547a 100%);
}

.nav-right {
    display: flex;
    float: right ;
    border: 1px orangered solid;
    background-color: rgb(22, 170, 170);
}

.bg-gradient{
    background-image: var(--bs-gradient);
}

.nav-link {
    font-weight: 700;
}

.nav-link:hover {
    opacity: 100;
    color: darkgray;
    size: 1.1rem !important;
    transition: ease-in-out;
}



.nav-link:active {
    color: darkgray;
    font-weight: 1000;
}

.nav-link::after {
    color: teal;
}
