.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

.wrapper {
  height: 100vh;
  /* clip-path: polygon(99% 68%, 99% 68%, 47% 73%, 47% 73%, 16% 68%, 16% 68%, 5% 69%, 5% 69%, 1% 36%, 1% 36%, 31% 41%, 31% 41%, 63% 34%, 63% 34%, 97% 41%, 97% 41%, 98% 55%, 98% 55%); */
  /* background-color: linear-gradient(90deg blue, teal); */
}

.title {
  font-family: 'Raleway';
  color:aliceblue;
}