<div class="container wrapper">
  <br>
    <h1 class="title">Thanks for visiting! We'd love to hear from you. Please send us a message and we will respond within 24 hours.</h1>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="We'd love to hear from you!"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
</div>
