<div class="container-fluid wide">
    <app-bnav></app-bnav>

    <main class="bricks ">
        <!-- <img src="../../../assets/patrick-tomasso-unsplash.jpg" alt="" class="bricks"> -->
        <router-outlet></router-outlet>
    </main>
</div>



<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container> -->