body {
    /* font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; */
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}

.bricks {
    /* position: absolute; */
    background: url("../assets/patrick-tomasso-unsplash.jpg") repeat left top, linear-gradient(#eb01a5, #d13531);
    background-position: center;
    z-index: -1;
    /* height: 100vh !important; */

}

.wide {
    /* width: 100vw; */
}

/* .background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: repeat-y;
    background-position: bottom;
    z-index: -1;
    filter:opacity(25);
}

img {

} */

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    /* height: 100%; */
}

mat-sidenav {
    /* width: 250px; */
}

@media only screen and (max-width: 649px) {
    .bricks {
        height: 100vh !important;
        text-align: center;
    }


}