<div class="row">
<div class="container">
    <header >
        <br>
        <!-- <img src="../../../assets/patrick-tomasso-unsplash.jpg" alt="" class="background"> -->
        <!-- <img src="../../../assets/lauren-mancke-unsplash.jpg" alt="" class="foreground"> -->
        <h1 class="title text-pop-up-top shine color-change-2x">Doug Rosenberg Dev</h1>
        <h2 class="sub-header tracking-in-expand-fwd-top">Developing full-stack software solutions to add value for companies</h2>
        <br>
        <br class="flexible-display">
        <h3 class="btn btn-secondary hire-me color-change-2x" routerLink="/HireMe">Hire Me!!!</h3>
        <br>
    </header>
</div>
</div>
    <!-- <div class="row">
        <div class="col-md-6">
            
        </div>
    </div> -->
        <!-- <section></section> -->

