<div class="wrapper">
    
    <header>
        <br>
        <br>
        <!-- <img src="../../../assets/patrick-tomasso-unsplash.jpg" alt="" class="background"> -->
        <!-- <img src="../../../assets/lauren-mancke-unsplash.jpg" alt="" class="foreground"> -->
        <h1 class="title text-pop-up-top shine">Doug Rosenberg Dev</h1>
        <br>
        <h2 class="sub-header tracking-in-expand-fwd-top">Developing full-stack software solutions to add value for companies</h2>
        <br>
        <br>
        <h3 class="btn btn-secondary" routerLink="/HireMe">Hire Me!!!</h3>
    </header>
    <div class="row">
        <div class="col-md-6">
            
        </div>
    </div>
        <section></section>
</div>
