<div class="container wrapper">
    
    <header>
        <!-- <img src="../../../assets/patrick-tomasso-unsplash.jpg" alt="" class="background"> -->
        <!-- <img src="../../../assets/lauren-mancke-unsplash.jpg" alt="" class="foreground"> -->
        <h1 class="title shine">Doug Rosenberg Dev</h1>
        <br>
        <h2>Full Stack Developer</h2>
        <br>
        <h3 class="btn btn-secondary" routerLink="hireMe">Hire Me!!!</h3>

    </header>
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
        <section>Lorem ipsum, re modi.</section>
</div>
