/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    /* font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Raleway';
    color: #121212;
    /* height: 100%; */
}

/* body {
    margin: 0;
} */

a {
    color: rgba(50,50,50,0.99) !important;
    text-decoration: none !important;
}

.nav-link a {
    color: #121212;
}